:root {
  --bomi-yellow: #FAC312;
}

body{
  margin: 0px;
}

.indexPage{
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: var(--bomi-yellow);
    display: flex;
}

.mainBoxParent{
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
