:root {
  --bomi-yellow: #FAC312;
}

body{
  margin: 0px;
}

.indexPage{
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: var(--bomi-yellow);
    display: block;
}
